<h2 style="font-weight: bold;text-align:center">VỊ TRÍ ỨNG TUYỂN: NHÂN VIÊN PHÒNG XUẤT NHẬP KHẨU </h2>
<h2 style="font-weight: bold;text-align:center">(JUNIOR STAFF)</h2>

<table style="width: 100%; border-collapse: collapse;line-height: 1.8">
  <tr>
    <td style="width: 70%">
      <h2 style="font-weight: bold;text-decoration: underline;">THÔNG TIN CÁ NHÂN</h2>
      <p style="line-height: 5px"></p>
      <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="width: 8%;"><strong>&emsp;&emsp;&emsp;Họ và tên</strong></td>
            <td style="width: 15%;"><strong>: VŨ THỊ NGỌC LOAN</strong></td>
        </tr>
        <tr>
            <td style="width: 8%;"><strong>&emsp;&emsp;&emsp;Ngày sinh</strong></td>
            <td style="width: 15%;"><strong>: 07/11/1998</strong></td>
        </tr>
        <tr>
            <td style="width: 8%;"><strong>&emsp;&emsp;&emsp;Giới tính</strong></td>
            <td style="width: 15%;"><strong>: Nữ</strong></td>
        </tr>
        <tr>
            <td style="width: 8%;"><strong>&emsp;&emsp;&emsp;Địa chỉ</strong></td>
            <td style="width: 15%;"><strong>: Văn Giang - Hưng Yên</strong></td>
        </tr>
    </table>
    </td>
    <td style="width: 30%">
      <img src="{{ storage_path('app/templates/avatar.jpg') }}" width="130" />
    </td>
  </tr>
</table>

<br />
<h2 style="font-weight: bold;text-decoration: underline;">ĐIỂM MẠNH</h2>
<ul style="font-weight: bold;line-height: 1.6;list-style-type: disc;">
  <li>Tốt nghiệp chuyên ngành Ngôn ngữ Nhật tại Đại học Phương Đông Đông</li>
  <li>Có tổng 3 năm kinh nghiệm làm chuyên sâu về Xuất khẩu cho công ty chuyên gia công sản xuất quần áo thời trang nữ xuất khẩu trang thị trường EU,Mỹ, Nhật Bản… của Hàn Quốc, về phần Nhập khẩu có hiểu biết và làm phần thanh toán. Có kinh nghiệm trực tiếp khai báo hải quan, khai báo C/O form E, VK, VJ, B, EUR1 và theo dõi tiến độ hàng hóa và giải quyết những vấn đề phát sinh trong quá trình vận chuyển</li>
  <li>Mức lương mong muốn: VND 13.500.000 Gross (có thể thương lượng thêm)</li>
  <li>Thời gian bắt đầu đi làm: 1 tuần khi nhận được thông báo</li>
</ul>